<h2>HeartSeeker Patcher</h2>

<div>
    <input type="text" ng-model="settings.HeartSeekerPatcher.shortBowCritDamageMultiplier" size="1" />
    <span>Crit Damage Multiplier For Short Bows</span>
    <br>
    <input type="text" ng-model="settings.HeartSeekerPatcher.shortBowDamageMultiplier" size="1" />
    <span>Damage Multiplier for shortbows.</span>
    <br>
    <input type="text" ng-model="settings.HeartSeekerPatcher.longBowDamageMultiplier" size="1" />
    <span>Damage multiplier for long bows.</span>
    <br>
    <input type="text" ng-model="settings.HeartSeekerPatcher.lightCrossBowDamageMultiplier" size="1"/>
    <span>Damage multiplier for light crossbows.  </span>
    <br>
    <input type="text" ng-model="settings.HeartSeekerPatcher.heavyCrossBowDamageMultiplier" size="1"/>
    <span>Damage multiplier for heavy crossbows.</span>
    <br>
    <input type="text" ng-model="settings.HeartSeekerPatcher.greatBowDamageMultiplier"size="1" />
    <span>Damage multiplier for greatbows.</span>
    <br>
    <input type="text" ng-model="settings.HeartSeekerPatcher.siegeCrossBowDamageMultiplier" size="1"/>
    <span>Damage multiplier for siege crossbows</span>
	<br>
    <input type="text" ng-model="settings.HeartSeekerPatcher.distributeStamina" size="1"/>
    <span>Distribute stamina usage perk? (true/false)</span>
    <br>

</div>